<!DOCTYPE html>
<html>
  <head>
    <title>DreamUp</title>
    <link rel="icon" type="image/png" href="<%= asset_path('4.png')%>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="<%= controller_name %> <%= action_name %>">
 
  <% if user_signed_in? %>
  <div  class="shadow p-3 mb-4 bg-white rounded">
  <a href="http://localhost:3000"> <div class="logo"> </div> </a>
  <h2 class="springy-text">Welcome <%= current_user.user_name %></h2>
  <h6>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Change Password', edit_user_registration_path %>
  </h6>
  </div>
<% else %>

 <div class="navbar navbar-expand-sm bg-light justify-content-center">
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Explore", root_path %>
  
</div>





<% end %>


    <%= yield %>

<!-- Footer -->
<footer class="animatedBox">
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Jawaher Abdullah
  </div>

</footer>
<!-- Footer -->
  </body>
</html>
