<h1>Dreams#edit</h1>
<p>Find me in app/views/dreams/edit.html.erb</p>

<%= form_for @dream, url: {action: "update"} do |f| %>
    <h4> Post </h4>
    <%= f.text_field :post %>
    <h4> Date</h4>
    <%= f.date_field :date%>
    <h4> Location </h4>
    <%= f.text_field :location %>
 

    <%= f.submit "Save" %>

    
<% end %>
