

  <div class="img">
  <h1> Your Dreams List</h1>

<% @dreams.each do |dream|%>

    <h4> 
   
    <%= link_to dream.post, dream %>
  </h4>

  <% end %>
</div>


<button class="butn" onclick="openForm()" > New Dreams </button>


<div class="form-popup" id="myForm">
<%= form_for @dream, url: {action: "create"} do |f| %>
    <h6 class="h66">Share your dream</h6>

    <p> Post </p>
    <div class="form"> <%= f.text_field :post %> </div>
    <p> Date</p>
    <%= f.date_field :date%>
    <p> Location </p>
    <%= f.text_field :location %>
 

    
     <br>
     <br>
     <div style="margin-left:35px;">
     <%= f.submit "Save" %>
    <button type="button" onclick="closeForm()">Close</button>
    </div>
  <% end %>
</div>

