



<div class="card" style="width: 50%; margin-left:25%; box-shadow: 0 4px 8px 0 gray;">

<div class="card-body">
<div class="card-img">

</div>
<% if @dream.avatar.attached?%>
<img style= "width:100%" src="<%=(url_for(@dream.avatar)) %>" >
 <% end %>
 
<p class="card-show"><%= @dream.post %> </p>
<h4 class="card-show"><%= @dream.date %> </h4> 
<h4 class="card-show"> <%= @dream.location %>  </h4>

<%if user_signed_in? %>
  <%if current_user.id == @dream.user_id %>
  <button  class="nav2" onclick="openForm()"> Edit </button> <br>
  <button  class="nav2"> <%= link_to "Delete " , dream_path(@dream), method: :delete %></button>
  <%end%>
<%end%>

<br>
<button class="nav2"> <%= link_to "Back", root_path %> </button> 


<br> <br> 


<div style="margin-left: 20px;">
<div class="comment">
  
  <h4> Add a Comment</h4>


   <%   @dream.comments.each do |comment|%>

    <ul class="list-group">
    <li class="list-group-item"> <h4> <%= comment.user_name %> </h4>  :  <%= comment.body %> </li>
  
  </ul>
 
    <% end %>

    <% if user_signed_in? %>
    <%= render "comments/new"  %>
    <%else%>

    <%end%>





</div>

</div>

</div>

</div>

<!-- <h4 class="card-title"><%#current_user.email %></h4> -->





<div class="form-popup" id="myForm">
<%= form_for @dream, url: {action: "update"} do |f| %>
    <h6 class="h66">Update your dream</h6>
    <% if @dream.avatar.attached?%>
    <img src="<%=(url_for(@dream.avatar)) %>" >
     <% end %>
    <h4> <%= f.label "Upload Image" %> </h4>
    <%= f.file_field :avatar %> <br>
    <h4> Post </h4>
    <div class="form"> <%= f.text_field :post %> </div>
    <h4> Date</h4>
    <%= f.date_field :date%>
    <h4> Location </h4>
    <%= f.text_field :location %>
 

    
     <br>
     <br>
     <div style="margin-left:35px;">
     <%= f.submit "Save" %>
    <button type="button" onclick="closeForm()">Close</button>
    </div>
  <% end %>
</div>



